@charset "utf-8";
#story_p_c {
	padding: 15px;
}
.produc_sj{
	label{
		display: inline-block;
		width: 65px;
	}
}
.pb_3{
	em{
		padding-right: 15px;
	}
	.space{
		margin: 0 7px;
	}
}
.l_wrap{
	float: left;
	>.section_1 {
			margin-bottom:20px;
			>.col {
				padding: 20px 19px 0 !important;
				>.tit_2{
					margin:0 -10px 20px;
				}
				background-color:#efefef;
				border:1px solid #bfbfbf;
				padding:20px 20px 0;
				border-radius:5px;
				position:relative;
			}
		}
}
.r_wrap{
	float: right;
	>.section_1 {
			margin-bottom:20px;
			>.col {
				>.tit_2{
					margin:0 -10px 20px;
				}
				background-color:#efefef;
				border:1px solid #bfbfbf;
				padding:20px 20px 0;
				border-radius:5px;
				position:relative;
			}
		}
}
