@charset "utf-8";
*{margin:0;padding:0;box-sizing:border-box;}
*:after, *:before{box-sizing:border-box;}
img{border:none;vertical-align:middle;}
input,label{vertical-align:middle;}
li{list-style:none;}
fieldset{border:none;}
.blind{position:absolute;left:-9999px;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{*zoom:1;}
caption{text-indent:-9999px;height:0;width:0;font-size:1px;}
button, input[type=submit], input[type=reset], input[type=button]{cursor:pointer;} 
body, input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"], textarea, select{font:13px Malgun Gothic,"맑은고딕",gulim,"굴림",sans-serif;color:#222;}
input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"]{border:1px solid #dfdfdf;background-color:#fff;height:28px;line-height:28px;width:150px;padding:0 3px;}
a{color:#222;text-decoration:none;}
h1,h2,h3,h4,h5,h6,strong,em{font-style:normal;font-weight:normal;font-size:100%;}
table{width:100%;border-collapse:collapse;}
.grid {
	.section_1{
		margin-bottom:20px;
		.col {
			>.tit_2{
				margin:0 -10px 20px;
			}
			background-color:#efefef;
			border:1px solid #bfbfbf;
			padding:20px;
			border-radius:5px;
			position:relative;
		}
	}
	.row:after{
		content:"";
		display:block;
		clear:both;
	}
	.row{
		*zoom:1;
		margin:-5px;
	}
	*[class*=col_]{
		float:left;
		padding:5px;
	}
	.col_1{
		width:8.3333%;
	}
	.col_2{
		width:8.3333%*2;
	}
	.col_3{
		width:8.3333%*3;
	}
	.col_4{
		width:8.3333%*4;
	}
	.col_5{
		width:8.3333%*5;
	}
	.col_6{
		width:8.3333%*6;
	}
	.col_7{
		width:8.3333%*7;
	}
	.col_8{
		width:8.3333%*8;
	}
	.col_9{
		width:8.3333%*9;
	}
	.col_10{
		width:8.3333%*10;
	}
	.col_11{
		width:8.3333%*11;
	}
	.col_12 {
		width:100%;
	}
}

/*테이블*/
th{
	height:35px;
	background-color:#395971;
	color:#fff;
}
td {
	background:#fafafa;
	padding:0 10px;
	border-bottom:1px solid #eee;
	&.ta_l{
		text-align:left;
	}
	&.ta_r{
		text-align:right;
	}
	&.ta_c{
		text-align:center;	
	}
}
.basic_table_column_1 {
	border:1px solid #ccc;
	border-radius:2px;
	overflow:hidden;
	margin-bottom:20px;
	td{
		height:30px;
	}
	.dataTables_scrollHead {
		th{
			position:relative;
			&:before{
				content:"";
				display:inline-block;
				position:absolute;
				left:0;
				bottom:0;
				width:1px;
				height:8px;
				background-color:#efefef;
			}
			&:first-child{
				&:before{
					content:none;
				}
			}
			&:last-child{
		
				&:after{
					content:"";
					width:20px;
					height:35px;
					background:#395971;
					position:absolute;
					top:0;
					right:-20px;
				}
			}
		}
	}
}

.header_logo img{width:85px;}
#container{
	background-color:#dcdcdc;
}
.sub_frame_st2{width:1024px !important;margin:0 auto;}
.tit_1{
	padding:10px 10px 0;
	font-size:16px;
	font-weight:bold;
	color:#253d55;
	margin-bottom:10px;
	.tit_bd_wrap{
		padding-left:10px;
		display:block;
		/*border-bottom:1px solid #80909c;*/
		border-bottom:1px solid #c3c3c3;
		padding-bottom:8px;
	}
}
.tit_2{
	font-size:14px;
	color:#253d55;
}

#sub_wrap{
	width:1000px;
	padding:20px;
}