@charset "utf-8";
$tb_color_1:#4e6678;
$font_c_1:#fff;
$font_c_2:#4e6678;
$td_height:24px;
*{margin:0;padding:0;box-sizing:border-box;}
*:after, *:before{box-sizing:border-box;}
img{border:none;vertical-align:middle;}
input,label{vertical-align:middle;}
li{list-style:none;}
fieldset{border:none;}
.blind{position:absolute;left:-9999px;}
.hide{display:none;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{*zoom:1;}
.fl_l{float: left;}
.fl_r{float: right;}
caption{text-indent:-9999px;height:0;width:0;font-size:1px;}
button, input[type=submit], input[type=reset], input[type=button]{cursor:pointer;}
body, input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"], textarea, select, button{font:12px Malgun Gothic,"맑은고딕",gulim,"굴림",sans-serif;color:#222;}
input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"]{border:1px solid #aaa;background-color:#fff;height:21px;line-height:21px;width:85px;padding:0 3px;}
input{
	&[readonly] {
		background-color: #cfcfcf !important;
	}
}
select{vertical-align:middle;}
.login_f{
	input[type="text"], input[type="password"] {
		height:26px;
		line-height:26px;
	}
}
textarea{padding:3px;border:1px solid #dfdfdf;background-color:#fff;}
a{color:#222;text-decoration:none;}
h1,h2,h3,h4,h5,h6,strong,em{font-style:normal;font-weight:normal;font-size:100%;}
table{width:100%;border-collapse:collapse;}
table {
	&.w_100 {
		width:100px !important;
	}
	&.w_150 {
		width:150px !important;
	}
	&.w_200 {
		width:200px !important;
	}
	&.w_250 {
		width:250px !important;
	}
	&.w_300 {
		width:300px !important;
	}
	&.w_350 {
		width:350px !important;
	}
	&.w_400 {
		width:400px !important;
	}
	&.w_450 {
		width:450px !important;
	}
	&.w_500 {
		width:500px !important;
	}
	&.w_600 {
		width:600px !important;
	}
	&.w_700 {
		width:700px !important;
	}
}

table.dataTable.nowrap th,table.dataTable.nowrap td {
    white-space: nowrap;
}
.pBoth_7{padding-left:7px !important;padding-right:7px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_20{padding-bottom:20px !important;}


.pt_10{padding-top:10px !important;}
.pt_20{padding-top:20px !important;}
.pt_30{padding-top:30px !important;}
.pt_40{padding-top:40px !important;}
.grid {
	.row{
		*zoom:1;
		margin:-5px;
		.row {
			margin:0 -10px;
		}
		>.col {
				padding:10px;
				border-radius:5px;
		}
		>.section_1 {
			margin-bottom:1px;
			>.col {
				>.tit_2{
					margin:0 -10px 7px;
				}
				background-color:#efefef;
				border:1px solid #bfbfbf;
				padding:8px 20px 0;
				border-radius:5px;
				position:relative;
			}
		}
		.col {
			&.noBd{
				background-color:transparent;
				border:none;
				border-radius:0;
				position:relative;
				>.row {
					margin:0 -20px;
					>.section_1 {
						>.col {
							background-color:#efefef;
							border:1px solid #bfbfbf;
							padding:20px 20px 0;
							border-radius:5px;
							position:relative;
							>.tit_2{
								margin:0 -10px 20px;
							}
						}
					}
				}

			}
		}
		&:after{
			content:"";
			display:block;
			clear:both;
		}
	}
	*[class*=col_]{
		float:left;
		padding:5px 5px 0;
		&.noWidth{
			width:auto !important;
			.col{
				padding-right:10px;
			}
		}
	}
	.col_1{
		width:8.3333%;
	}
	.col_2{
		width:8.3333%*2;
	}
	.col_3{
		width:8.3333%*3;
	}
	.col_4{
		width:8.3333%*4;
	}
	.col_5{
		width:8.3333%*5;
	}
	.col_55{
		width:8.3333%*5.5;
	}
	.col_6{
		width:8.3333%*6;
	}
	.col_7{
		width:8.3333%*7;
	}
	.col_8{
		width:8.3333%*8;
	}
	.col_9{
		width:8.3333%*9;
	}
	.col_10{
		width:8.3333%*10;
	}
	.col_11{
		width:8.3333%*11;
	}
	.col_12 {
		width:100%;
	}
}
.col{
	&.tit_hide{
		padding-top:33px !important;
		&.case_1{
			padding-top:8px !important;
			p[class*="frm_btn"] {
				top:0 !important;
			}
		}
		.tit_2{
			display:none;
		}
	}
	&.bar_left{
		position:relative;
		&:after {
			content:"";
			display: block;
			position: absolute;
			top:-8%;
			right:-5px;
			width: 1px;
			height:115%;
			border-right: 1px dotted #aaa;
		}
		&.bar_st_2{
			&:after{
				height:110%;
			}
		}
	}
}
/*버튼*/
.btn_mv_1{
	background:url(../images/common/btn_move.png) 0 0 no-repeat;
	width:60px;
	height:60px;
	border:none;
	text-indent:-9999px;
}

/*테이블*/
th{
	padding:0 10px;
	height:25px;
	background-color:$tb_color_1;
	color:$font_c_1;
	&.bgColor_1{
		background-color:#dfdfdf;
		color:#2c496f;
	}
	&.bgColor_2{
		background-color:#a1b1be;
		color:#2c496f;
	}
}
.bgColor_3{
		background-color: #ddd;
		color: #2c496f;
}
.bgColor_4{
	background-color: #e9fcff !important;
	color:$tb_color_1 !important;
}
.ta_l{
	text-align:left !important;
}
.ta_r{
	text-align:right !important;
}
.ta_c{
		text-align:center !important;
}

td {
	background:#fafafa;
	padding:0 10px;
	border-bottom:1px solid #aaa;
	text-align:center;
	input[type=text]{
		max-width:90%;
	}
	&.ta_l{
		text-align:left;
	}
	&.ta_r{
		text-align:right;
	}
	&.ta_c{
		text-align:center;
	}
	span.checkbox, span.radio{margin:0 !important;}
}
.basic_table_column_1 {
	/*border:1px solid #ccc;*/
	border-radius:2px;
	overflow:hidden;
	margin-bottom:8px;
	td{
		height:$td_height;
	}
	.dataTables_scrollHead {
		th{
			position:relative;
			background-clip: padding-box;
			&:before{
				content:"";
				display:inline-block;
				position:absolute;
				left:0;
				bottom:0;
				width:1px;
				height:8px;
				background-color:#efefef;
			}
			&:first-child{
				&:before{
					content:none;
				}
			}
			&:last-child{
				&:after{
					content:"";
					width:20px;
					height:36px;
					background:$tb_color_1;
					position:absolute;
					top:0;
					right:-20px;
				}
			}
		}
	}
	&.sth_1{
		th{
			border:1px solid #efefef;
			&:before{
				content:none;
			}
		}
		td{
			min-width:70px;
		}
	}
}

.sth_2{
	th{
		border:1px solid #afafaf;
		&:before{
			content:none;
		}
	}
	td{
		padding-top:6px;
		padding-bottom:6px;
	}
}

.basic_table_row_1 {
	margin-bottom:7px;
	thead{
		th{
			position:relative;
			&:before{
				content:"";
				display:inline-block;
				position:absolute;
				left:0;
				bottom:0;
				width:1px;
				height:8px;
				background-color:#efefef;
			}
			&:first-child{
				&:before{
					content:none;
				}
			}
		}
	}
	tbody{
		th {
			min-width:80px;
			background:transparent;
			color:$font_c_2;
			position:relative;
			border-bottom:1px solid $tb_color_1;
			text-align:right;
			padding-left:18px;
			padding-top:4px;
			padding-bottom:5px;
			&:after{
				content:"";
				display:inline-block;
				width:1px;
				height:10px;
				background-color:$tb_color_1;
				position:absolute;
				right:0;
				bottom:0;
			}
			&.tit_col {
				background-color:$tb_color_1;
				color: $font_c_1;
				text-align: center
			}
		}
	}
	td{
		background:#f5f5f5;
		padding:5px 10px;
		/*input[type="text"], *{
				float: left
		}*/
	}
	&.frm_input{
		td{
			text-align:left;
		}
	}
}
.frmInbtn{
	position: relative;
	padding-top: 1px;
	padding-right:20px;
	width: 90%;
	margin:0 auto;
	display: block;
	height:100%;
	input[type="button"] {
		position: absolute;
		right:-5px;
		top:-1px;
	}
}
.chTable {
	display: table;
	.chRow {
		display: table-row;
		.chTd{
			&.th{
				padding-right: 10px;
			}
			display: table-cell;
			padding-bottom:3px;
		}
	}
}


.frm_unit {
	padding-right:40px;
	>input {
		margin-right:-35px;
		+span{
			position:relative;left:40px;
		}
	}
}

/*스크롤 테이블*/
.sctable{
	.btn{
		border: none;
		padding:1px 20px;
		border-radius:3px;
		border:1px solid #efefef;
	}
	table{
		table-layout: fixed;
		&.nowrap{
			th{
				white-space:nowrap;
			}
		}
	}

	width:100%;
	overflow:hidden;
  .thead_1{
  	th{
  		position:relative;
		&:before{
			content:"";
			display:inline-block;
			position:absolute;
			left:0;
			bottom:0;
			width:1px;
			height:8px;
			background-color:#efefef;
		}
		&:first-child{
			&:before{
				content:none;
			}
		}
		&:last-child{
			&:after{
				content:"";
				width:20px;
				height:36px;
				background:$tb_color_1;
				position:absolute;
				top:0;
				right:-20px;
			}
		}
  	}
  }
  .tbody_sc_wrap{
  	span.radio, span.checkbox{
  		margin:0;
  	}
  	overflow-x:scroll;
  	max-height:220px;
  	th{
  		border:1px solid #000;
  	}
  	td{
  		border:1px solid #aaa;
  		text-align:center;
  		height:$td_height;
  	}
  	.tbin_sc_wrap{
  		position:relative;
  		vertical-align:top;
  		height:100%;
  		padding:0 !important;
  		>div{
  			height:100%;
  			overflow-x:scroll;
  			overflow-y:hidden;
  			margin-top:-1px;
  		}
  	}
  }
}

.sctable2 {
	table{
		table-layout: fixed;
	}
	th{
		padding:0;
	}
	td{
		padding:0;
	}
	.thead_wrap{
		overflow:hidden;
		width:100%;
		>table{
			>tbody {
				>tr{
					>td{
						background-color:transparent;
						border:none;
						vertical-align:bottom;
						th{
							border:1px solid #efefef;
							.btn_month{
								width:100%;
								height:100%;
								border:none;
								background-color:#aaa;
							}
						}
					}
				}
			}
		}
	}
	.tbody_wrap{
		max-height:200px;
		overflow-y:auto;
		>table{
			width:auto;
			>tbody {
				>tr{
					>td{
						vertical-align:top;
						/*border-left:1px solid #dfdfdf;*/
						th, td{
							height:$td_height;
							border-left:1px solid #dfdfdf;
							border-top:none;
						}
						td{
							background-color:#fff;
							height:$td_height;
						}
					}
				}
			}
		}
	}
}
/*버튼*/
form{
	&.pos_r{
		margin-bottom:5px;
		position:relative;
		p[class*="frm_btn_"], div[class*="frm_btn_"] {
			&.top{
				position:absolute;
				top:-25px;
				right:5px;
			}
		}
	}
}

.frm_btn_1, .frm_btn_3, .btn_wrap {
	input[type=button], input[type=submit], button, input[type=reset]{
		padding:1px 8px;
		font-size:12px;
	}
}
div[class*="btn_row_"]{
	min-height:30px;
	input[type=button] {
		padding:2px 8px;
	}
}
.btn_row_2{
	p{
		float:right;
		padding-right:5px;
	}
}
.btn_upload{
	padding:4px 10px 3px 10px;
}
/*폼양식*/
.btn_search{
	width:24px;
	height:24px;
	background:#efefef url(../images/common/ico_btn_1.png) 0 2px no-repeat;
	border:none;
	text-indent:-9999px;
}
.btn_date {
	width:24px;
	height:24px;
	background:#efefef url(../images/common/ico_btn_1.png) 0 -45px no-repeat;
	border:none;
	text-indent:-9999px;
}
label[for^="date_end_"]{
	margin-left:5px;
}
.req{
	color:#d87b27;

	position:relative;
	&:before{
		content:"";
		display:inline-block;
		position:absolute;
		left:-13px;
		top:7px;
		width:10px;
		height:10px;
		background:url(../images/common/ico_btn_1.png) 0 -147px no-repeat;
	}
}
.pb_3{
	padding-bottom:3px;
}
.radio_wrap{
	.radio{
		&:first-child{
			margin:0;
		}
	}
}
span {
	&.radio, &.checkbox{
		margin-left:5px;
		label{
			display:inline-block;
			padding-right:20px;
			background:url(../images/common/ico_form_1.png) no-repeat 100% 3px;
		}
		input{
			position:absolute;
			left:-9999px;
			&:checked{
				+label{
					background-position:100% -25px;
				}
			}
		}
		&.no_txt{
			label {
				display:block;
				text-indent:-9999px;
				text-align:center;
				width:0;
				margin:0 auto;
			}
		}
	}
	&.checkbox {
		label{
			background-position:100% -65px;
		}
		input {
			&:checked{
				+label{
					background-position:100% -92px;
				}
			}
		}
	}
}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}

.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}

.mb_20{margin-bottom: 20px;}

.pr_5{padding-right:5px;}
.pr_10{padding-right:10px;}
.pr_15{padding-right:15px;}
.pr_20{padding-right:20px;}
.pr_25{padding-right:25px;}
.pr_30{padding-right:30px;}

.pl_5{padding-left:5px;}
.pl_10{padding-left:10px;}
.pl_15{padding-left:15px;}
.pl_20{padding-left:20px;}
.pl_25{padding-left:25px;}
.pl_30{padding-left:30px;}
.pl_60{padding-left:60px;}

.plr_5{padding-left:5px;padding-right:5px;}
.plr_10{padding-left:10px;padding-right:10px;}
.plr_15{padding-left:15px;padding-right:15px;}
.plr_20{padding-left:20px;padding-right:20px;}
.plr_25{padding-left:25px;padding-right:25px;}
.plr_30{padding-left:30px;padding-right:30px;}
.plr_60{padding-left:60px;padding-right:60px;}

.ptb_3{padding-top:3px;padding-bottom:3px;}
.ptb_5{padding-top:5px;padding-bottom:5px;}
.ptb_10{padding-top:10px;padding-bottom:10px;}
.ptb_15{padding-top:15px;padding-bottom:15px;}
.ptb_20{padding-top:20px;padding-bottom:20px;}
.mml_50{margin-left:-50px;}

.frm_w_1 {width:100% !important;}
.frm_w_2 {width:250px !important;}
.frm_w_3 {width:200px !important;}
.frm_w_4 {width:150px !important;}
.frm_w_5 {width:100px !important;}
.frm_w_6 {width:70px !important;}
.frm_w_7 {width:50px !important;}

#container{
	background-color:#dcdcdc;
}

.tit_1{
	padding:10px 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#253d55;
	margin-bottom:10px;
	.tit_bd_wrap{
		padding-left:10px;
		display:block;
		/*border-bottom:1px solid #80909c;*/
		border-bottom:1px solid #c3c3c3;
		padding-bottom:2px;
	}
}
.tit_2{
	font-size:13px;
	color:#2c4965;
	font-weight:600;
}
.tit_3{
	font-size:13px;
	color:#2c4965;
	font-weight:600;
	margin-bottom:10px;
}

#sub_wrap{
	width:1250px;
	padding:0 20px 20px;
	margin:0 auto;
}
.popup_wrap{
	width:700px;
	#sub_wrap{
		width:auto;
	}
}
.circle_rb {
	display: block;
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 45px;
}

/*팝업*/
.openPopupWrap{
  position:relative;
  border:1px solid #bbb;
  position:fixed;
  left:50%;
  top:50px;
  margin-left:-350px;
  /*transform:translateY(-50%);*/
  background-color:$font_c_1;
  border-radius:5px;
  box-shadow:0 3px 10px rgba(0,0,0,0.5);
}
.openPopupWrap .closeBtn{
  position:absolute;
  right:5px;
  top:3px;
  background-color:#f2f2f2;
  border:1px solid #555;
  padding:2px 5px;
  border-radius:3px;
}
.popup_bar{
  background-color:#555;
  height:30px;
}

/*탭메뉴*/
.tabmenu_wrap {
	position:relative;
	top:6px;
	li{
		float:left;
		a{
			display:block;
			padding:4px 10px;
			border:1px solid #999;
			border-bottom:none;
			margin:0 3px;
			border-radius:3px 3px 0 0;
			background-color:#fff;
			&.on{
				background:#333;
				color:#fff;
			}
		}
	}
}
.fs_13 {font-size: 13px;}
.frm_popup{background: url(../images/common/ico_open_popup.png) 99% 2px no-repeat;}
