@charset "utf-8";
#sub_wrap.d_wrap{
	width:1200px;
}
.fl_left{float:left;}
.fl_right{float:right;}
.c_b{clear:both;}

/*d_prd_mng_2*/
.frm_w_1_d2{width:80px !important;}
.d_2_left{
	float:left;
	width:50%;
}
.grid .row>.section_1>.d_2_pb{padding-bottom:20px;}
/*//d_prd_mng_2*/

/*d_prd_mng_4*/
.d_4_table{
	th,td{
		text-align:center;
	}
	thead{
		th{
			width:50%;
			height: 35px;
			border:none;
			&:after{
				display:none;
			}
		}		
	}
	tbody{
		.d_prd_mng_4_th th{
			background-color: #395971;
			color: #fff;
		}
	}
}
/*//d_prd_mng_4*/

/*d_prd_mng_5*/
.d_prd_mng_5_con{
	height:240px;
	margin-left:10px;
	border:1px solid #bfbfbf;
	padding:5px 5px 115px;
  border-radius:5px;
}
.d_5_table{
	th, td{
		text-align:center;
	}
}
.d_prd_mng_5_label{
	display:inline-block;
	width:80px;
}
.d_prd_mng_5{
	margin-bottom:5px;
	&.d_prd_mng_5_mt{margin-top:20px;}
	label{
	display:inline-block;
	width:80px;
	}
}
#produc_code_1_1{width:94px;}
#produc_code_1_2{width:94px;}
#produc_code_1_3{width:221px;}
/*//d_prd_mng_5*/

/*d_prd_mng_6*/
.d_6_margin{margin:5px;}
.grid .row>.section_1>.d_6_pb{padding-bottom:3px;}
/*//d_prd_mng_6*/

/*d_prd_mng_8*/
.tit_2 .tit_bd_wrap{
	text-align:center;
	width:500px;
	margin:0 auto;
	padding-left: 10px;
	display: block;
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 8px;
}
.d_8_margin{margin:0 0 15px 70px;}
.d_2_table{width:300px;float:right;}
/*//d_prd_mng_8*/
