@charset "utf-8";

/* f_qua_mag_1.css */

input[type=text] {
    text-align: right;
}

.row_box_wrap {
    margin: 0 auto;
    padding-left: 186px;
    .row_box {
        margin-bottom: 30px;
    }
    div >p {
        height: 26px;
        line-height: 26px;
        float: left;
        padding-right: 30px;
    }
    ul {
        float: left;
        padding-right: 40px;
        +ul {
            padding-right: 5px;
        }
        li {
            height: 26px;
            line-height: 26px;
            +li+li {
                position: relative;
                .circle_rb {
                    display: block;
                    background-color: red;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    position: absolute;
                    top: 10px;
                    left: 45px;
                }
            }
        }
    }
}

.row_box_3 {
    margin-bottom: 30px;
    span {
        display: block;
        width: 550px;
        padding: 0 0 5px 30px;
        border-bottom: 1px solid #000;
    }
}

.qua_mng_top_4 {
    label {
        margin-right: 52px;
    }
}

.table_caption {
    margin-bottom: 10px;
}


/* //f_qua_mag_1.css */


/*f_qua_mag_1.css*/

.f_qua_mng_2_1 {
    label {
        margin-right: 33px;
    }
}

.f_qua_mng_2_2 {
    label {
        margin-right: 13px;
    }
}
.mml_80{
    margin-left: -80px;
}
.mml_90{
    margin-left: -90px;
}
.mml_220{
    margin-left: -220px;
}
.mml_160{
    margin-left: -160px;
}
.f_qua_radio {
    p {
        margin-left: -60px;
        +p {
            margin-top: 10px;
        }
    }
    span {
        margin-left: -5px;
    }
}


/*//f_qua_mag_1.css*/


/* f_qua_mag_3.css */

.qua_mng_top_1 {
    label {
        margin-right: 13px;
    }
}

.qua_mng_top_3 {
    span {
        padding: 0 7px 0 8px;
    }
}

.qua_mng_top_4 {}

.circle_rb_2 {
    display: block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle_gb_2 {
    display: block;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}


/* //f_qua_mag_3.css */
/* //f_qua_mag_4.css */
.f_qua_wrap{
    padding-left: 80px !important;
}
.textAlingL {
    text-align: left;
    .inputwidth{
        width: 203px;
    }
}
.f_qua_tit2{
    margin: 20px 0 5px 0;
    font-size: 14px;
}
.f_qua_4_2{
    padding-left: 30px !important;
}
/* //f_qua_mag_4.css */