@charset "utf-8";

/* g_out_mng_1 */
.g_out_1_mgr{
	margin-right: 26px;
}
.g_out_l_mg{
	margin-left: -180px;
	margin-top: 30px;
	span+span+span+span{
		margin-left: 15px;
	}
}
.circle_rb_2 {
    display: block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}
.circle_gb_2{
	display: block;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}
.widht80 {
    width: 80%;
}
/* //g_out_mng_1*/

/* g_out_mng_2*/

.table_1{
    table{
        th{
            font-size: 12px;
            padding: 5px 10px 6px 10px;
        }
    }
}
.btn_reflection {width: 50px; margin-left: 160px;}
.mml_200 {margin-left: -200px;}
.tag_tit{margin-top: 10px;}