@charset "utf-8";
.login_f{position:relative;width:661px;padding:211px 0 0 130px;height:390px;background:#FFF url(../images/login/bg_login.png) 0 0 no-repeat;position:fixed;left:50%;top:50%;margin-left:-330px;margin-top:-195px;}
.login_f label{font-size:16px;color:#dadada;width:95px;display:inline-block;}
.login_f input[type=text],.login_f input[type=password]{width:250px;}
.login_f input[type=image] {position:absolute;top:210px;right:62px;}
.login_f legend+p+p{position:relative;top:14px;}