@charset "utf-8";
body{padding-top:100px;min-width:1024px;}
#header{position:fixed;top:0;left:0;width:100%;background-color:#333;}
#header ul li{float:left;width:16.6666%;border:1px solid #ccc;}
#header ul li.last~li{margin-top:-1px;}
#header ul a{color:#fff;display:block;height:30px;line-height:30px;text-align:center;overflow:hidden;white-space:nowrap;}
#header ul a.on{background-color:#efefef;color:#333;font-weight:bold;}

#container{padding:0 20px;}
.guide_table{clear:both;}
.guide_table th, .guide_table td{height:30px;text-align:center;border:1px solid #aaa;}
.guide_table tr.cat td{border-top:2px solid #000;}
.guide_table th{font-weight:500;background-color:#25455d;color:#fff;}
.guide_table th:first-child{width:60px;}

.status_ing{overflow:hidden;float:right;margin-bottom:10px;min-width:505px;}
.status_ing dt, .status_ing dd{float:left;border:1px solid #aaa;background-color:#efefef;height:24px;line-height:22px;}
.status_ing dt{width:100px;text-align:center;}
.status_ing dd{padding:0 10px;text-align:right;margin:0 -1px;background-color:#fff;color:#333;}
.status_ing dd:last-child{margin:0 0 0 -1px;}